/* General styles */
body {
    font-family: Arial, sans-serif;
   
}

/* Hero Section */
.hero {
    background: url('img/pexels-goumbik-669576.jpg') no-repeat center center/cover;
    height: 80vh;
}

/* Features Section */
.features .icon {
    width: 80px;
    margin-bottom: 15px;
}

/* Footer */
.footer {
    background: #222;
}





a {
    text-decoration: none !important;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: #440084;
    color: #fff;
}

::-moz-selection {
    background: #440084;
    color: #fff;
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}

.section-heading {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-heading h2 em {
    font-style: normal;
    color: #440084;
}

.section-heading img {
    margin: 20px auto;
}

.dark-bg h2 {
    color: #fff;
}

.dark-bg p {
    color: #fff;
}

.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #440084;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button a:hover {
    background-color: #39016d;
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.navbar {
    background: rgb(255, 255, 255);
    /* Transparent Dark Navbar */
    padding: 15px 0;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0px 0px 8px black;
    
}
.howto .item p{
    
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
 .navbar-toggler-icon {
     background-color: rgb(109, 109, 109) !important;
     border-radius: 5px;
     /* Optional: Adds rounded edges */
 }

  .heading{
    color: #31005e;
}
.howto .item b{
    font-size: .8rem;
}
.howto .circle{
    display: grid;
    place-items: center;
}

        .navbar.scrolled {
      background-color: rgb(115, 115, 115) !important;
      box-shadow: 0 2px 10px rgba(32, 30, 88, 0.1);
  }

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    font-size: .9rem;
    text-transform: uppercase;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #440084;
    /* Orange Highlight */
}

.btn-danger {
    background: #440084;
    border: none;
    font-weight: bold;
}

.btn-danger:hover {
    background: #39006d;
}
/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
    position: relative;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.video-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}

.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: #440084;
    font-weight: 900;
}

.about {
  padding: 100px 0;

}
.heading {
  text-align: center;
  color: #440084;
  font-weight: bolder;
 
}
.about .headingT {
margin-bottom: 50px;
}
.circle{
    background-color: #31005e;
    
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    
    text-align: center;
}
.about .items{
    
    padding: 10px;
    box-shadow: 0px 0px 4px #38006d00;
    transition: all 0.1ms ease-in;
    border-radius:10px ;
}
/* .about .items:hover{
    box-shadow: 0px 0px 4px #39006d;
} */
.circle p{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: larger;
}
.about .col{


    margin-top: 20px;
    
    background-color: #00000000;

}

.back{
    background-color: #440084;
    color: #fff;
}

.contact {
  padding: 30px 0;
  /* background: url('img/pexels-ron-lach-9783346.jpg') no-repeat center center/cover; */
/* background-color: rgb(241, 241, 241);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.423) 100%),url('img/pexels-cottonbro-6153343.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  /* background-color:#000000a0 ; */
  color: rgb(255, 255, 255);
}
.contact .btn{
    background-color: #39006d;
    border: #39006d;
    padding: 15px;
    font-weight: bold;
}
.contact .btn:hover{
    background-color: #28014e;
}
.aboutme{
    padding: 30px 0;
  
}

.bg{
   background-image: url('img/480506165_3906262599520509_3770379844018490699_n.jpg');
   background-size: cover;
   background-position: top\center;
    color: white;
    padding: 10px;
    border-radius: 10px;
height: 100%;
}
.progress-bar{
    background-color: #440084;
}
.logo{
    color:#440084;
}

/* Login Page Styles */
.login-container {
    height: 100vh;
    background: url('images/gym-bg.jpg') no-repeat center center/cover;
}

.login-box {

    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}


/* Register Page Styles */
.register-container {
    height: 100vh;
    background: url('images/gym-bg.jpg') no-repeat center center/cover;
}

.register-box {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

/* Dashboard page */
         .dashboard-header {
            height: 40vh;
            background-color: #f9735b;
            display: grid;
            place-items: center;
         }
    
         .table-container {
             margin-top: 30px;
         }
    
         .card-container {
             margin-top: 60px;
             padding-top: 10px;
         }

         .sidebar-card {
            
             margin-bottom: 100px;

         }
         .sidebar-card li{
                list-style-type: none;
                padding: 10px;
                color: #f9735b;
                
                transition: all 0.3s;
                
         }
            .sidebar-card li a{
                
                text-decoration: none;
            }
            .sidebar-card li:hover{
                background-color: #f9735b;
                transform: scale(1.1);
                color: white;

            }









@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.contact2 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    padding: 60px 0;
    margin-bottom: 170px;
    background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
    color: #3e4555;
}

.contact2 .font-weight-medium {
    font-weight: 500;
}

.contact2 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.contact2 .bg-image {
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* .contact2 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
} */

.contact2 .detail-box .round-social {
    margin-top: 100px;
}

.contact2 .round-social a {
    background: transparent;
    margin: 0 7px;
    padding: 11px 12px;
}

.contact2 .contact-container .links a {
    color: #8d97ad;
}

.contact2 .contact-container {
    position: relative;
    top: 200px;
}

.contact2 .btn-danger-gradiant {
    background: #39006d;
   
}

.tech .circle{
    background-color: white;
  
    border-radius: 0px;

}